/*================================================Global Css======================================================*/

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    background-color: black;
    overflow-x: hidden;
    color: white;
}

img {
    width: 100%;
}

/*=========================================This Css For Header  &  Footer========================================*/

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background: #548F42;
    background: linear-gradient(to right, #548F42 0%, #A9BB72 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    z-index: 1;
    justify-content: center;
}

header:hover {
    background-color: #f0f3f43a;
    background: #74b2db42;
    background: linear-gradient(to right, #CFE7FA 0%, #6393C1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0.9;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #83ab85;
    width: 100%;
    min-height: 100px;
    font-size: 20px;
    font-family: Bahnschrift Light;
}

/*==========================================Additional css on tags***************************************************/
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

nav {

    width: 100%;
    padding: 25px 100px 10px 100px;
    font-size: 17px;
    justify-content: center;
}

video::-internal-media-controls {
    display: none !important;
}

video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-overlay-enclosure {
    display: none !important;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**********************************************Responsive Section*************************************************/
@media(max-width:768px) {
    section {
        max-width: 768px;
    }
}

/*=============!!!!!!!!!!!!!!!!!!!!!!!!!!!!Default Body Css Ends Here!!!!!!!!!!!!!!!!!!!!!!!!!!=================*/
/*Page Vise Csss*/
.container {
    display: flex;
    width: 100%;
    /*This Must Be Defult Column*/
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    /*This Must Be Defult Row*/
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.justify_content_center {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
}

/*=======================================Global Class Css Ends Here==============================================*/


/*???????????????????????????????????????This is My Header's Style???????????????????????????????????????????????*/

.main_header {
    display: flex;
    justify-content: center;
    max-width: 1920px;
}

.main_header:hover {
    background-color: #0000003d;
}

.header_nav_pannel {
    /*ul list tag for header*/
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0px;
}

.header_nav_left {

    font-size: 30px;
    font-family: Bahnschrift Light;
}

.header_nav_right {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    font-size: 20px;
    font-family: Bahnschrift Light;
}

.hader_right_row_para {
    width: 60%;
    justify-content: space-between;

}

.hader_right_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.responsive_right_nav {
    display: none;
    justify-content: center;
    align-items: center;
}

.responsive_right_nav {
    display: none;
}

.responsive_header_option {
    display: none;
    width: 100%;
    justify-content: center;
}

.responsive_header_toggle {

    display: flex;
    width: 100%;
    justify-content: center;
}

.responsive_right_nav_icon {
    width: 30px;
}

/************************************************Header Responsive************************************************/
@media(max-width:900px) {
    .header_nav_right {
        display: none;
    }

    .responsive_right_nav {
        display: flex;
    }

    .header_nav_left {
        font-size: 15px;
    }

    .header_nav_right,
    .hader_right_row_para {
        width: 90%;
        font-size: 10px;
    }

    nav {
        padding: 20px 20px 5px 20px;
    }

    .hader_right_row {
        width: 60%;
    }
}

@media (min-width:900px) {
    .responsive_header_option {
        display: none !important;
    }
}

/***************************************Main Container_1 Css Starts**************************************************/
.container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0F3F4;
    height: 900px;
    color: black;
}



.container_1_main_child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1920px;
    padding: 50px;
}

.container_1_main_child_text_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    Font-size: 55px;
    position: relative;

    font-family: Ink Free;
    font-weight: 600;
    width: 50%;
}

.myMove_animation {
    animation: mymove 1s;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 15px;
    }
}

.container_1_main_child_blog_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.container_1_main_child_blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #0b0b0b 1px solid;
    border-radius: 25px;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: #e7f5f9;
    box-shadow: 0px 0px 20px 0px #0b0b0b;
}

.container_1_main_child_blog img {
    width: 100%;
    border-radius: 20px;
}

/*************************************Responsive For Container -1*******************************************************/
@media (max-width:768px) {
    .container_1 {
        height: 100vh;
    }

    .container_1_main_child {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
    }

    .container_1_main_child_text_block {
        margin-top: 50px;
        font-size: 43px;
    }

    .container_1_main_child_blog_img {
        display: none;
    }

    @keyframes mymove {
        from {
            font-size: 39px;
        }

        to {
            font-size: 43px;
        }
    }
}

/***************************************Main Container_2 css starts**************************************************/
.container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
    max-width: 1920px;
    position: relative;
    z-index: 0;
}

.container_2_chatbox {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.container_2_index_over_img_layar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 0;
}

.container_2_chatbox_check_text_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 200px;
    right: 350px;
    z-index: 1;
}

.container_2_chatbox_check_text_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 150px;
    right: 400px;
    z-index: 1;
}

.container_2_chatbox_check_text_3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 150px;
    left: 500px;
    z-index: 1;
}

.container_2_chatbox_check_text_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 100px;
    left: 400px;
    z-index: 1;
}

.container_2_chatbox_check_text_5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 400px;
    left: 398px;
    z-index: 1;
}

.container_2_chatbox_check_text_6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 350px;
    right: 500px;
    z-index: 1;
}

.container_2_header_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 15px;
    position: relative;
    animation: cont_2_head_2 1s;
}

.container_2_chatbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.chatbox_index {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7f5f9;
    color: #0b0b0b;
    border-radius: 45px;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    opacity: 1;
    margin: 0px 10px 10px 10px;
    font-family: Bahnschrift Light;
    position: relative;
}

.chatbox_index_key_rise {
    animation: chatbox_index_key_enter 2s;
}

.chatbox_index_img_key_rise {
    animation: mouse_enter_img_animation 2s;
}

.chatbox_index_key_out {
    animation: chatbox_index_key_leave 2s;
}

.chatbox_index_img_key_out {
    animation: mouse_leave_img_animation 2s;
}

@keyframes chatbox_index_key_enter {
    from {
        display: none;
        font-size: 0px;
        opacity: 0.8;
    }

    to {
        display: flex;
        font-size: 15px;
        opacity: 1;
    }
}

@keyframes chatbox_index_key_leave {
    from {
        display: flex;
        font-size: 15px;
        opacity: 1;
    }

    to {
        display: none;
        font-size: 0px;
        opacity: 0.8;
    }
}

@keyframes mouse_leave_img_animation {
    from {
        display: flex;
        max-width: 100px;
        opacity: 1;
    }

    to {
        display: none;
        max-width: 0px;
        opacity: 0.8;
    }
}

@keyframes mouse_enter_img_animation {
    from {
        display: none;
        max-width: 0px;
        opacity: 0.8;
    }

    to {
        display: flex;
        max-width: 100px;
        opacity: 1;
    }
}

.chatbox_index_img {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    max-width: 100px;
    position: relative;
}

.container_2_header_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 50px;
    margin-bottom: 100px;

    position: relative;
    animation: cont_2_head_2 1s;

}

@keyframes cont_2_head_2 {
    from {
        top: 0px;
    }

    to {
        top: 15px;
    }
}

/*************************************Responsive For Container -2*******************************************************/
@media(max-width:768px) {
    .container_2 {
        height: 100vh;
        max-width: 768px;
    }

    .container_2_index_over_img_layar {
        height: 100vh;
    }

    .container_2_header_2 {
        margin-bottom: 300px;
    }

    .container_2_chatbox_check_text_1 {
        display: none;
        top: 200px;
        right: 300px;
    }

    .container_2_chatbox_check_text_2 {
        right: 100px;
    }

    .container_2_chatbox_check_text_3 {
        top: 250px;
        left: 150px;
    }

    .container_2_chatbox_check_text_4 {
        bottom: 400px;
        left: 100px;
    }

    .container_2_chatbox_check_text_5 {
        display: none;
    }

    .container_2_chatbox_check_text_6 {
        display: none;
        bottom: 500px;
        right: 250px;
    }
}

@media(max-width:500px) {
    .container_2_header_1 {
        font-size: 10px;
    }

    .container_2_header_2 {
        font-size: 25px;
    }

    .chatbox_index {
        font-size: 10px;
    }

    .chatbox_index_img {
        max-width: 50px;
    }

    .container_2_chatbox_check_text_3 {
        left: 100px;
    }

    @keyframes chatbox_index_key {
        from {
            font-size: 5;
            opacity: 0.8;
        }

        to {
            font-size: 10;
            opacity: 1;
        }
    }
}

/*---------------------------------------------------------------------Owl Carosoul Container-----------------------------------------------------*/
.owl_index_slider {
    background-color: #2b2b2b;
}

.owl_index_header {
    font-family: Bahnschrift Light;
}

.owl-theme {
    background-color: #2b2b2b;
    color: wheat;
    width: 100%;
}

.owl-carousel {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.owl_index_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.owl_index_container_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.owl_index_container {
    display: flex;
    justify-content: center;
    background-color: #ecf9eb;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.owl_index_container_img img {
    border-radius: 15px;
}

.owl_index_container:hover {
    background-color: #f0f3f43a;
    color: black;
    opacity: 0.8;
}

/*Responsive Owl For Slider*/
@media(max-width:768px) {

    .item {
        max-width: 200px;
    }
}

/***************************************Main Container_3 Css Starts**************************************************/
.container_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F3F4;
    height: 900px;
    color: #0b0b0b;
    font-size: 45px;
    width: 100%;
    max-width: 1920px;
    position: relative;
    animation: container_3_key 2s;
}

@keyframes container_3_key {
    from {
        font-size: 45px;
    }

    to {
        font-size: 48px;
    }
}

/***************************************container_3 Responsive*********************************************************/
@media(max-width:768px) {
    .container_3 {
        height: 100vh;
        font-size: 20px;
        padding: 10px;
        max-width: 768px;

    }

    .container_3 h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
    }

    @keyframes container_3_key {
        from {
            font-size: 20px;
        }

        to {
            font-size: 23px;
        }
    }
}

/***************************************Main Container_4 Css Starts**************************************************/
.container_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    max-width: 1920px;
}

.index_aiunify_info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.index_aiunify_info_cont {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.index_aiunify_info_head {
    font-size: 70px;
    font-family: ink free;
    position: relative;
    animation: index_aiunify_info_head_key 2s;
}

@keyframes index_aiunify_info_head_key {
    form {
        font-size: 70px;
    }

    to {
        font-size: 75px;
    }
}

.index_aiunify_info_content {
    padding-left: 100px;
    font-size: 18px;
    word-spacing: 5px;
    line-height: 35px;
    font-family: Bahnschrift Light;
    font-weight: 100;
}

.index_aiunify_info_content_list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

/*****************************************Container -4 Responsive*****************************************************/
@media(max-width:768px) {
    .container_4 {
        width: 100%;
        height: 100vh;
    }

    .index_aiunify_info_head {
        font-size: 45px;
    }

    .index_aiunify_info_content {
        font-size: 15px;
        line-height: 20px;
    }

    .index_aiunify_info {
        padding: 10px;
    }

    @keyframes index_aiunify_info_head_key {
        form {
            font-size: 20px;
        }

        to {
            font-size: 25px;
        }
    }
}

@media(max-width:600px) {
    .index_aiunify_info_head {
        font-size: 35px;
    }

    .index_aiunify_info_content {
        font-size: 10px;
        padding: 0px;
    }

    @keyframes index_aiunify_info_head_key {
        form {
            font-size: 10px;
        }

        to {
            font-size: 15px;
        }
    }
}

/***************************************Main Container-5 css starts***************************************************/
.container_5 {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
}

.main_img_index_light {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    z-index: 0;
}

.main_img_index_light_image {
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 1920px;
    opacity: 0.5;
    position: relative;
    animation: main_img_index_light_image_1 2s;
}

@keyframes main_img_index_light_image_1 {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 0.5;
    }
}

.main_img_index_light_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 30px;
    z-index: 1;
}

.main_img_index_light_text_logo {
    display: flex;
    align-items: center;
    border-radius: 45px;
    width: 100px;
}

/*Container -5 Responsive*/
@media(max-width:768px) {
    .main_img_index_light_text {
        font-size: 15px;
    }
}

/***************************************Main Container_6 Css Starts**************************************************/
.container_6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #F0F3F4;
    color: #0b0b0b;
    height: 900px;
    max-width: 1920px;
}

.index_need_aiunify {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    padding: 50px;
    margin-top: 10px;
}

.index_need1_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.need_content_ch1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.index_need1_header {
    font-size: 65px;
    font-family: Ink Free;
    position: relative;
    animation: index_need1_header_key 2s;
}

@keyframes index_need1_header_key {
    from {
        font-size: 65px;
    }

    to {
        font-size: 68px;
    }
}

.index_need2_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    margin-right: 100px;
    line-height: 35px;
    font-family: Bahnschrift Light;
}

/*****************************************Container -6 Responsive*****************************************************/
@media(max-width:768px) {
    .container_6 {
        width: 100%;
        height: 100vh;
    }

    .index_need_aiunify {
        padding: 10px;
    }

    .index_need2_content {
        font-size: 14px;
    }

    .index_need1_header {
        font-size: 25px;
    }

    @keyframes index_need1_header_key {
        from {
            font-size: 20px;
        }

        to {
            font-size: 25px;
        }
    }
}

@media (max-width:500px) {
    .index_need1_header {
        font-size: 15px;
    }

    .index_need2_content {
        font-size: 10px;
    }
}

/**********************************************************Container 7**********************************************************************/
.container_7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
}

.container_7_image_1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    opacity: .9;
}

.container_7_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.container_7_text {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}

.container_7_text {
    display: flex;
    flex-direction: column;
    font-size: 30px;

    position: absolute;
    animation: container_7_text_key 2s;
}

@keyframes container_7_text_key {
    from {
        font-size: 35px;
    }

    to {
        font-size: 38px;
    }
}

.container_7_button {

    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    margin-top: 200px;

}

.container_7_button button {
    color: #e7f5f9;
    background-color: transparent;
    border: 2px solid black;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

/*********************************************Container_7 Responsive *******************************************/
@media(max-width:768px) {

    .container_7_text {
        font-size: 13px;
    }

    @keyframes container_7_text_key {
        from {
            font-size: 5px;
        }

        to {
            font-size: 13px;
        }
    }

    .container_7_button button {
        border: 2px solid black;
        width: 70px;
        height: 30px;
        font-size: 10px;
    }
}

/*Footer Css*/
.footer_text {
    font-size: 15px;
    word-spacing: 5px;
    line-height: 50px;
}

/*Footer Responsive*/
@media (max-width:768px) {
    footer {
        min-height: 50px;
    }

    .footer_text {
        line-height: 20px;
        font-size: 10px;
    }
}

@media(max-width:500px) {
    footer {
        min-height: 30px;
    }

    .footer_text {
        line-height: 10px;
        font-size: 5px;
    }
}