/*================================================Global Css======================================================*/

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    background-color: black;
    overflow-x: hidden;
    color: white;
}

img {
    width: 100%;
}

/*=========================================This Css For Header  &  Footer========================================*/

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    color: #0b0b0b;
    z-index: 1;
    justify-content: center;
}

header:hover {
    background-color: #f0f3f43a;
    color: black;
    opacity: 0.9;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

nav {

    width: 100%;
    padding: 25px 100px 10px 100px;
    font-size: 17px;
    justify-content: center;
}

video::-internal-media-controls {
    display: none !important;
}

video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-overlay-enclosure {
    display: none !important;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=============!!!!!!!!!!!!!!!!!!!!!!!!!!!!Default Body Css Ends Here!!!!!!!!!!!!!!!!!!!!!!!!!!=================*/

.container {
    display: flex;
    width: 100%;
    /*This Must Be Defult Column*/
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    /*This Must Be Defult Row*/
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.justify_content_center {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
}

/*=======================================Global Class Css Ends Here==============================================*/


/*???????????????????????????????????????This is My Header's Style???????????????????????????????????????????????*/

.main_header {
    display: flex;
    justify-content: center;
    max-width: 1920px;
}

.header_nav_pannel {
    /*ul list tag for header*/
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0px;
}

.header_nav_right {
    display: flex;
    width: 60%;
    justify-content: flex-end;
}

.hader_right_row_para {
    width: 60%;
    justify-content: space-between;

}

.hader_right_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/***************************************Main Container_1 Css Starts**************************************************/
.container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0F3F4;
    height: 900px;
    color: black;
}

.container_1_main_child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1920px;
    padding: 50px;
}

.container_1_main_child_text_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    Font-size: 55px;
    font-family: Ink Free;
    font-weight: 600;
    width: 50%;
}

.container_1_main_child_blog_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.container_1_main_child_blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #0b0b0b 1px solid;
    border-radius: 25px;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: #e7f5f9;
    box-shadow: 0px 0px 20px 0px #0b0b0b;
}

.container_1_main_child_blog img {
    width: 100%;
    border-radius: 20px;
}

/***************************************Main Container_2 css starts**************************************************/
.container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
    max-width: 1920px;
    position: relative;
    z-index: 0;
}

.container_2_chatbox {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.container_2_index_over_img_layar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 0;
}

.container_2_chatbox_check_text_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 200px;
    right: 350px;
    z-index: 1;
}

.container_2_chatbox_check_text_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 150px;
    right: 400px;
    z-index: 1;
}

.container_2_chatbox_check_text_3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 150px;
    left: 500px;
    z-index: 1;
}

.container_2_chatbox_check_text_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 100px;
    left: 400px;
    z-index: 1;
}

.container_2_chatbox_check_text_5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 400px;
    left: 398px;
    z-index: 1;
}

.container_2_chatbox_check_text_6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 350px;
    right: 500px;
    z-index: 1;
}

.container_2_header_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 15px;
}

.container_2_chatbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.chatbox_index {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7f5f9;
    color: #0b0b0b;
    border-radius: 45px;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    margin: 0px 10px 10px 10px;
}

.chatbox_index_img {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    max-width: 100px;
}

.container_2_header_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 50px;
    margin-bottom: 100px;
}

/**/
.owl_index_slider {
    background-color: #2b2b2b;
}

.owl-theme {
    background-color: #2b2b2b;
    color: wheat;
    width: 100%;
}

.owl-carousel {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.owl_index_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.owl_index_container_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.owl_index_container {
    display: flex;
    justify-content: center;
    background-color: #ecf9eb;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.owl_index_container_img img {
    border-radius: 15px;
}
.owl_index_container:hover{
    background-color: #f0f3f43a;
    color: black;
    opacity: 0.8;
}

/***************************************Main Container_3 Css Starts**************************************************/
.container_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F3F4;
    height: 900px;
    color: #0b0b0b;
    font-size: 45px;
    width: 100%;
    max-width: 1920px;
}

/***************************************Main Container_3 Css Starts**************************************************/
.container_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    max-width: 1920px;
}

.index_aiunify_info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.index_aiunify_info_head {
    padding-right: 100px;
    font-size: 60px;
    font-family: ink free;
}

.index_aiunify_info_content {
    padding-left: 100px;
    font-size: 15px;
    word-spacing: 5px;
    line-height: 30px;
    font-family: Bahnschrift Light;
    font-weight: 100;
}

.index_aiunify_info_content_list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

/***************************************Main Container_4 Css Starts**************************************************/
.container_5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #F0F3F4;
    color: #0b0b0b;
    height: 900px;
    max-width: 1920px;
}

.index_need_aiunify {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    padding: 50px;
    margin-top: 10px;
}

.index_need1_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.need_content_ch1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.index_need1_header {
    font-size: 40px;
    font-family: Ink Free;
}

.index_need2_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    margin-right: 100px;
    line-height: 35px;
    font-family: Bahnschrift Light;
}