/*================================================Global Css======================================================*/

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    background-color: rgba(122, 121, 121, 0.628);
    color: rgb(0, 0, 0);
    overflow-x: hidden;
}

img {
    width: 100%;
}

/*=========================================This Css For Header  &  Footer========================================*/

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background: #548F42;
    background: linear-gradient(to right, #548F42 0%, #A9BB72 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    z-index: 1;
    justify-content: center;
}

header:hover {
    background-color: #f0f3f43a;
    background: #8b8e9042;
    background: linear-gradient(to right, #CFE7FA 0%, #6393C1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0.9;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #83ab85;
    width: 100%;
    min-height: 50px;
    font-size: 20px;
    font-family: Bahnschrift Light;
}

/*==========================================Additional css on tags***************************************************/
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

nav {

    width: 100%;
    padding: 25px 100px 10px 100px;
    font-size: 17px;
    justify-content: center;
}

video::-internal-media-controls {
    display: none !important;
}

video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-overlay-enclosure {
    display: none !important;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    display: flex;
    width: 100%;
    height: 100%;
}

/*=============!!!!!!!!!!!!!!!!!!!!!!!!!!!!Default Body Css Ends Here!!!!!!!!!!!!!!!!!!!!!!!!!!=================*/
/*Page Vise Csss*/
.container {
    display: flex;
    width: 100%;
    /*This Must Be Defult Column*/
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    /*This Must Be Defult Row*/
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify_content_center {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
}

.item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: black;
}

.owl_item {
    height: 900px;
}

.owl-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    background-color: #c0c0c0;
    color: black;
}

.toggle_container {
    display: flex;
    height: 220px;
}

.toggle_button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: rgb(124, 198, 160);
    background-color: transparent;
    border: 1px solid rgb(127, 208, 145);
}

.slink_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: black;
    color: black;

}

.main_owl_container_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/*=======================================Global Class Css Ends Here==============================================*/


/*???????????????????????????????????????This is My Header's Style???????????????????????????????????????????????*/

.main_header {
    display: flex;
    justify-content: center;
    max-width: 1920px;
}

.header_nav_pannel {
    /*ul list tag for header*/
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0px;
}

.header_nav_left {

    font-size: 30px;
    font-family: Bahnschrift Light;
}

.header_nav_right {
    display: flex;
    width: 60%;
    font-size: 20px;
    font-family: Bahnschrift Light;
    justify-content: flex-end;
}

.hader_right_row_para {
    width: 60%;
    justify-content: space-between;

}

.hader_right_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.responsive_right_nav {
    display: none;
    justify-content: center;
    align-items: center;
}

.responsive_right_nav {
    display: none;
}

.responsive_header_option {
    display: none;
    width: 100%;
    justify-content: center;
}

.responsive_header_toggle {

    display: flex;
    width: 100%;
    justify-content: center;
}

.responsive_right_nav_icon {
    width: 30px;
}

@media(max-width:900px) {
    .header_nav_right {
        display: none;
    }

    .responsive_right_nav {
        display: flex;
    }

    .header_nav_left {
        font-size: 20px;
    }

    .header_nav_right,
    .hader_right_row_para {
        width: 90%;
    }
}

@media (min-width:900px) {
    .responsive_header_option {
        display: none !important;
    }
}

/***************************************Main Container_1 Css Starts**************************************************/
.container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0px;
}

.container_1_main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 2%, rgba(0, 0, 0, 1) 48%, rgba(120, 120, 120, 1) 100%);
    border-radius: 25px;
    height: 1000px;
}

.container_1_main form {
    margin: 0px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(19, 19, 19);
    border-radius: 25px;
    max-width: 1000px
}

.sign_in_form_main_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(19, 19, 19);
    color: rgb(203, 203, 203);
    width: 500px;
    height: 750px;
    border-radius: 30px;
}

.form_header {
    font-family: Bahnschrift Light;
    font-size: 15px;
    margin-top: 100px;
}

.container_1_inner_img_text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_input_name_1,
.main_input_name_2 {
    padding: 10px;
    margin-top: 100px;
    width: 170px;
    height: 37px;
    border-radius: 5px;
    font-family: Bahnschrift Light;
}

.form_header_small h1 {
    font-family: Bahnschrift Light;
    font-size: 15px;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.909);
}

.main_input_email_1 {
    margin-top: 20px;
    padding: 10px;
    width: 340px;
    height: 37px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    font-family: Bahnschrift Light;
}

.sign_in_skip {
    display: flex;
    color: gainsboro;
    font-family: Bahnschrift Light;
    width: 90px;
    align-items: center;
    background-color: #606060;
    justify-content: center;
    border-radius: 25px;
    height: 40px;
    top: 45px;
    right: 40px;
    position: absolute;
}

.sign_in_skip:hover {
    background-color: #747474;
}

.container_1_inner_img {
    display: flex;
    position: relative;
}

.main_sign_in_button {
    margin-top: 80px;
}

.header_form {
    display: flex;
    flex-direction: column;
}

.form_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_header_small {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.main_sign_in_button button {
    width: 250px;
    height: 45px;
    font-size: 20px;
    font-family: Tempus Sans ITC;
    background-color: #606060;
    color: whitesmoke;
    margin-bottom: 20px;
}

.main_input_email_header {
    font-size: 20px;
    font-family: Tempus Sans ITC;
}

.main_input_name_header {
    font-size: 20px;
    font-family: Tempus Sans ITC;
}

.main_input_password_header {
    font-size: 20px;
    font-family: Tempus Sans ITC;
}

.container_1_inner_img img {
    border-radius: 15px;
}

.icon_google {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.google_sign_in {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.google_sign_logo {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    width: 40px;
}

/*Sign in Responsive Setup*/
@media(max-width:768px) {
    .container_1 {
        max-width: 768px;
        height: 800px;
    }

    .container_1_main {
        max-width: 768px;
    }

    .container_1_main form {
        max-width: 300px;
        flex-direction: column;
    }

    .container_1_inner {
        display: none;
    }
    .sign_in_skip{
        right: 5px;
    }
    .sign_in_form_main_container {
        width: 400;
    }

    
    .main_input_name_2 {
        width:120px;
    }
}

/******************************************************************Footer Css*******************************************************************/
.footer_text {
    font-size: 10px;
    word-spacing: 5px;
}