/*================================================Global Css======================================================*/

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    background-color: black;
    overflow-x: hidden;
    color: white;
}

img {
    width: 100%;
}

/*=========================================This Css For Header  &  Footer========================================*/

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    color: #548F42;
    background-color: #101010;
    opacity: .9;
    z-index: 1;
    justify-content: center;
}

header:hover {
    background-color: #000000;

    opacity: 0.9;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #83ab85;
    width: 100%;
    min-height: 100px;
    font-size: 20px;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    font-family: Bahnschrift Light;
}

/*==========================================Additional css on tags***************************************************/
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

nav {
    display: flex;
    max-height: 100px;
    width: 100%;
    padding: 25px 100px 25px 100px;
    font-size: 17px;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h5,
h6,
h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

video::-internal-media-controls {
    display: none !important;
}

video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-overlay-enclosure {
    display: none !important;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**********************************************Responsive Section*************************************************/
@media(max-width:768px) {
    section {
        max-width: 768px;
    }
}

/*=============!!!!!!!!!!!!!!!!!!!!!!!!!!!!Default Body Css Ends Here!!!!!!!!!!!!!!!!!!!!!!!!!!=================*/
/*Page Vise Csss*/
.container {
    display: flex;
    width: 100%;
    /*This Must Be Defult Column*/
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    /*This Must Be Defult Row*/
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.justify_content_center {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
}

.card {
    margin: 0rem !important;
}

.width_shild_container {
    width: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}

.black_background {
    background-color: black !important;
}

/*=======================================Global Class Css Ends Here==============================================*/


/*???????????????????????????????????????This is My Header's Style???????????????????????????????????????????????*/

.main_header {
    display: flex;
    box-shadow: rgb(35, 35, 35) 10px 30px 50px 10px;
    justify-content: center;
    max-width: 1920px;
    border-radius: 10px;
}


.header_nav_pannel {
    /*ul list tag for header*/
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.header_right_ch1 {
    display: flex;
    background-color: rgba(8, 8, 8, 0.06);
    height: 50px;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
}

.header_nav_left {

    font-size: 30px;
    font-family: Bahnschrift Light;
}

.header_nav_right {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    font-size: 20px;
    font-family: Bahnschrift Light;
}

.hader_right_row_para {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;

}

.hader_right_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.responsive_right_nav {
    display: none;
    justify-content: center;
    align-items: center;
}

.responsive_right_nav {
    display: none;
}

.responsive_header_option {
    display: none;
    width: 100%;
    justify-content: center;
}

.responsive_header_toggle {

    display: flex;
    width: 100%;
    justify-content: center;
}

.responsive_right_nav_icon {
    width: 30px;
}

/************************************************Header Responsive************************************************/
@media(max-width:900px) {
    .header_nav_right {
        display: none;
    }

    .responsive_right_nav {
        display: flex;
    }

    .header_nav_left {
        font-size: 15px;
    }

    .header_nav_right,
    .hader_right_row_para {
        width: 90%;
        font-size: 10px;
    }

    nav {
        padding: 20px 20px 5px 20px;
    }

    .hader_right_row {
        width: 60%;
    }
}

@media (min-width:900px) {
    .responsive_header_option {
        display: none !important;
    }
}

/*Footer Css*/
.footer_text {
    font-size: 15px;
    word-spacing: 5px;
    line-height: 50px;
}

/*Footer Responsive*/
@media (max-width:768px) {
    footer {
        min-height: 50px;
    }

    .footer_text {
        line-height: 20px;
        font-size: 10px;
    }
}

/*Pop Up Css*/
.container_1_pop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.357);
    z-index: 2;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main_pop_window {
    display: flex;
    position: fixed;
    z-index: 3;
    flex-direction: column;
    width: 500px;
    height: 380px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.main_pop_window_header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: Bahnschrift Light;
    margin-top: 10px;
    margin-bottom: 50px;
}

.main_pop_window_header h1 {
    color: white;
}

.main_pop_up_content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 450px;
}

.main_pop_up_content h4 {
    font-size: 12px;
    font-family: Harrington;
    line-height: 25px;
    word-spacing: 5px;
    color: rgba(245, 245, 245, 0.777)
}

.main_pop_up_content_sign_in {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main_pop_up_content_sign_in button {
    width: 100px;
    height: 35px;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 15px;
    background-color: rgb(44, 43, 43);
    color: whitesmoke;
    border: 1px solid black;
}

.main_pop_up_close {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: aliceblue;
    font-size: 10px;
    font-family: Bahnschrift Light;
    margin-top: 15px;
    margin-right: 15px;
    cursor: default;
}
/*pop Responsive */
@media(max-width:768px) {
    .main_pop_window {
        width: 300px;
        height: 350px;
    }

    .main_pop_window_header h1 {
        font-size: 20px;
    }

    .main_pop_up_content h4 {
        font-size: 10px;
    }

    .main_pop_up_content_sign_in button {
        width: 70px;
        height: 25px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .main_pop_up_close {
        font-size: 8px;
    }
}
/***************************************Main Container_1 Css Starts**************************************************/
.container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F9FA;
    height: 100vh;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.container_main_index {
    max-height: 920px;
}

.container_1_main_child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1920px;
    padding: 50px;
}

.container_1_main_child_text_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    Font-size: 55px;
    position: relative;

    font-family: Ink Free;
    font-weight: 600;
    width: 50%;
}

.myMove_animation {
    animation: mymove 1s;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 15px;
    }
}

.container_1_main_child_blog_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.container_1_main_child_blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #0b0b0b 1px solid;
    border-radius: 25px;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: #e7f5f9;
    box-shadow: 0px 0px 20px 0px #0b0b0b;
}

.container_1_main_child_blog img {
    width: 100%;
    border-radius: 20px;
}

/*************************************Responsive For Container -1*******************************************************/
@media (max-width:768px) {
    .container_1 {
        height: 100vh;
    }

    .container_1_main_child {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
    }

    .container_1_main_child_text_block {
        margin-top: 50px;
        font-size: 43px;
    }

    .container_1_main_child_blog_img {
        display: none;
    }

    @keyframes mymove {
        from {
            font-size: 39px;
        }

        to {
            font-size: 43px;
        }
    }
}

/***************************************Main Container_2 css starts**************************************************/
.container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* min-height: 900px; */
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1920px;
    max-height: 1000px;
    position: relative;
    z-index: 0;
    background-color: #1e1f21;
}

.chatbox_container_2 {
    min-height: 900px;
}

.container_2_chatbox {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.container_2_index_over_img_layar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 0;
}

.container_2_chatbox_check_text_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 200px;
    right: 350px;
    z-index: 1;
}

.container_2_chatbox_check_text_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 150px;
    right: 400px;
    z-index: 1;
}

.container_2_chatbox_check_text_3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 150px;
    left: 500px;
    z-index: 1;
}

.container_2_chatbox_check_text_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 100px;
    left: 400px;
    z-index: 1;
}

.container_2_chatbox_check_text_5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 400px;
    left: 398px;
    z-index: 1;
}

.container_2_chatbox_check_text_6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 350px;
    right: 500px;
    z-index: 1;
}

.container_2_header_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 15px;
    position: relative;
    animation: cont_2_head_2 1s;
}

.container_2_chatbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.chatbox_index_main_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.chatbox_index {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7f5f9;
    color: #0b0b0b;
    border-radius: 45px;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    opacity: 1;
    margin: 0px 10px 10px 10px;
    font-family: Bahnschrift Light;
    position: relative;
}

.chatbox_index_img {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    max-width: 100px;
    position: relative;
}

.container_2_header_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 50px;
    margin-bottom: 100px;

    position: relative;
    animation: cont_2_head_2 1s;

}

@keyframes cont_2_head_2 {
    from {
        top: 0px;
    }

    to {
        top: 15px;
    }
}

/*************************************Responsive For Container -2*******************************************************/
@media(max-width:768px) {
    .container_2 {
        height: 100vh;
        max-width: 768px;
    }

    .container_2_index_over_img_layar {
        height: 100vh;
    }

    .container_2_header_2 {
        margin-bottom: 300px;
    }

    .container_2_chatbox_check_text_1 {
        display: none;
        top: 200px;
        right: 300px;
    }

    .container_2_chatbox_check_text_2 {
        right: 100px;
    }

    .container_2_chatbox_check_text_3 {
        top: 250px;
        left: 150px;
    }

    .container_2_chatbox_check_text_4 {
        bottom: 400px;
        left: 100px;
    }

    .container_2_chatbox_check_text_5 {
        display: none;
    }

    .container_2_chatbox_check_text_6 {
        display: none;
        bottom: 500px;
        right: 250px;
    }
}

@media(max-width:500px) {
    .container_2_header_1 {
        font-size: 10px;
    }

    .container_2_header_2 {
        font-size: 25px;
    }

    .chatbox_index {
        font-size: 10px;
    }

    .chatbox_index_img {
        max-width: 50px;
    }

    .container_2_chatbox_check_text_3 {
        left: 100px;
    }

    @keyframes chatbox_index_key {
        from {
            font-size: 5;
            opacity: 0.8;
        }

        to {
            font-size: 10;
            opacity: 1;
        }
    }
}

/*---------------------------------------------------------------------Owl Carosoul Container-----------------------------------------------------*/
.index_slink_img_back {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    background-color: #E9ECEF;
    width: 500px !important;
    height: 500px;
    position: relative;
    left: 150%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.index_slink_img_main_child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 470px;
    max-height: 470px;
}

.index_slink_img_main_child img {
    min-height: 470px;
    border-radius: 15px;
}

.owl_index_slider {
    background-color: #2b2b2b;
    display: flex;
    flex-direction: row;
}

.slider {
    display: flex;
    flex-direction: row;
}

.owl_index_header {
    font-family: Bahnschrift Light;
}

.owl-theme {
    background-color: #E9ECEF;
    color: wheat;
    width: 100%;
}

.item main_owl_container_video {
    margin-bottom: 0px !important;
}

.owl-carousel {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.owl_index_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.owl_index_container_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.owl_index_container {
    display: flex;
    justify-content: center;
    background-color: #DEE2E6;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.owl_index_container_img img {
    border-radius: 15px;
}

.owl_index_container:hover {
    background-color: #E9ECEF;
    color: black;
    opacity: 0.8;
}

/*Responsive Owl For Slider*/
@media(max-width:768px) {

    .item {
        max-width: 200px;
    }
}

/***************************************Main Container_3 Css Starts**************************************************/
.container_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEE2E6;
    height: 900px;
    color: #0b0b0b;
    font-size: 45px;
    width: 100%;
    max-width: 1920px;
    position: relative;
    animation: container_3_key 2s;
}

@keyframes container_3_key {
    from {
        font-size: 45px;
    }

    to {
        font-size: 48px;
    }
}

/***************************************container_3 Responsive*********************************************************/
@media(max-width:768px) {
    .container_3 {
        height: 100vh;
        font-size: 20px;
        padding: 10px;
        max-width: 768px;

    }

    .container_3 h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
    }

    @keyframes container_3_key {
        from {
            font-size: 20px;
        }

        to {
            font-size: 23px;
        }
    }
}

/***************************************Main Container_4 Css Starts**************************************************/
.container_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    max-width: 1920px;
    background-color: #171818;
}

.index_aiunify_info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.index_aiunify_info_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.index_aiunify_info_head {
    font-size: 70px;
    font-family: ink free;
    position: relative;
    animation: index_aiunify_info_head_key 2s;
}

@keyframes index_aiunify_info_head_key {
    form {
        font-size: 70px;
    }

    to {
        font-size: 75px;
    }
}

.index_aiunify_info_content {
    padding-left: 100px;
    font-size: 18px;
    word-spacing: 5px;
    line-height: 35px;
    font-family: Bahnschrift Light;
    font-weight: 100;
}

.index_aiunify_info_content_list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

/*****************************************Container -4 Responsive*****************************************************/
@media(max-width:768px) {
    .container_4 {
        width: 100%;
        height: 100vh;
    }

    .index_aiunify_info_head {
        font-size: 45px;
    }

    .index_aiunify_info_content {
        font-size: 15px;
        line-height: 20px;
    }

    .index_aiunify_info {
        padding: 10px;
    }

    @keyframes index_aiunify_info_head_key {
        form {
            font-size: 20px;
        }

        to {
            font-size: 25px;
        }
    }
}

@media(max-width:600px) {
    .index_aiunify_info_head {
        font-size: 35px;
    }

    .index_aiunify_info_content {
        font-size: 10px;
        padding: 0px;
    }

    @keyframes index_aiunify_info_head_key {
        form {
            font-size: 10px;
        }

        to {
            font-size: 15px;
        }
    }
}

/***************************************Main Container-5 css starts***************************************************/
.container_5 {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
}

.main_img_index_light {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    z-index: 0;
}

.main_img_index_light_image {
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 1920px;
    opacity: 0.5;
    position: relative;
    animation: main_img_index_light_image_1 2s;
}

@keyframes main_img_index_light_image_1 {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 0.5;
    }
}

.main_img_index_light_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 30px;
    z-index: 1;
}

.main_img_index_light_text_logo {
    display: flex;
    align-items: center;
    border-radius: 45px;
    width: 100px;
}

/*Container -5 Responsive*/
@media(max-width:768px) {
    .main_img_index_light_text {
        font-size: 15px;
    }
}

/***************************************Main Container_6 Css Starts**************************************************/
.container_6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #E9ECEF;
    color: #0b0b0b;
    height: 900px;
    max-width: 1920px;
}

.index_need_aiunify {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    padding: 50px;
    margin-top: 10px;
}

.index_need1_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.need_content_ch1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.index_need1_header {
    font-size: 65px;
    font-family: Ink Free;
    position: relative;
    animation: index_need1_header_key 2s;
}

@keyframes index_need1_header_key {
    from {
        font-size: 65px;
    }

    to {
        font-size: 68px;
    }
}

.index_need2_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    margin-right: 100px;
    line-height: 35px;
    font-family: Bahnschrift Light;
}

/*****************************************Container -6 Responsive*****************************************************/
@media(max-width:768px) {
    .container_6 {
        width: 100%;
        height: 100vh;
    }

    .index_need_aiunify {
        padding: 10px;
    }

    .index_need2_content {
        font-size: 14px;
    }

    .index_need1_header {
        font-size: 25px;
    }

    @keyframes index_need1_header_key {
        from {
            font-size: 20px;
        }

        to {
            font-size: 25px;
        }
    }
}

@media (max-width:500px) {
    .index_need1_header {
        font-size: 15px;
    }

    .index_need2_content {
        font-size: 10px;
    }
}

/**********************************************************Container 7**********************************************************************/
.container_7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
}

.container_7_image_1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1920px;
    opacity: .9;
}

.container_7_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.container_7_text {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}

.container_7_text {
    display: flex;
    flex-direction: column;
    font-size: 30px;

    position: absolute;
    animation: container_7_text_key 2s;
}

@keyframes container_7_text_key {
    from {
        font-size: 35px;
    }

    to {
        font-size: 38px;
    }
}

.container_7_button {

    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    margin-top: 200px;

}

.container_7_button button {
    color: #e7f5f9;
    background-color: transparent;
    border: 2px solid black;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

/*********************************************Container_7 Responsive *******************************************/
@media(max-width:768px) {

    .container_7_text {
        font-size: 13px;
    }

    @keyframes container_7_text_key {
        from {
            font-size: 5px;
        }

        to {
            font-size: 13px;
        }
    }

    .container_7_button button {
        border: 2px solid black;
        width: 70px;
        height: 30px;
        font-size: 10px;
    }
}


@media(max-width:500px) {
    footer {
        min-height: 30px;
    }

    .footer_text {
        line-height: 10px;
        font-size: 5px;
    }
}

/*Over View Css Page Css*/
/*=============!!!!!!!!!!!!!!!!!!!!!!!!!!!!Default Body Css Ends Here!!!!!!!!!!!!!!!!!!!!!!!!!!=================*/
/*Page Vise Csss*/
.container {
    display: flex;
    width: 100%;
    /*This Must Be Defult Column*/
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    /*This Must Be Defult Row*/
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.justify_content_center {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
}

/*globle Tags For CHange Css */
.invert_row {
    display: flex !important;
    flex-direction: row-reverse !important;
}

/*=======================================Global Class Css Ends Here==============================================*/



/***************************************Main Container_1 Css Starts**************************************************/
.container_1_black {
    display: flex;
    align-items: center;
    background: black;
    color: white;
    width: 100%;
}

.container_1_child_column {
    display: flex;
    align-items: center;
    flex-direction: column !important;
    width: 100%;
}

.container_1_content {
    display: flex;
    flex-direction: column;
    padding: 10px 100px 100px 100px;
    width: 100%;
}

.main_container_header h1 {
    display: flex;
    font-family: Copperplate Gothic;
    margin-top: 150px;
}

.container_1_content_ch {
    display: flex;
    max-width: 600px;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 25px;
    word-spacing: 12px;
}

/*********************************************List of Container 1 Css Starts***************************************/
.content_text_list {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.content_text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 17px;
    line-height: 25px;
    word-spacing: 10px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(216, 216, 216);


}


.content_img {
    display: flex;
    flex-direction: column;
    max-width: 270px;

}

.ideal_list_key {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main_list_content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    position: relative;
    ;
}


.content_header {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    margin-bottom: 50px;
    font-family: Bahnschrift Light;
}

.home_assist {
    fill: #e9e9e9;
}

.language_assist path {
    fill: aliceblue;
}

.smart_home_assist path {
    fill: aliceblue;
}

/****************************************************Responsive Container One***********************************************************/

@media(max-width:768px) {
    .container_1 {
        max-width: 768px;
        padding: 10px;
    }

    .container_1_content {
        padding: 20px;
    }

    .container_1_content_ch {
        font-size: 10px;
    }

    ul {
        padding: 0px;
    }

    .content_header {
        font-size: 20px;
    }

    .content_text {
        font-size: 10px;
        line-height: 20px;
    }

    .content_img {
        max-width: 100px;
    }

    svg {
        max-width: 100px;
    }
}

/*Specs image css */
/*================================================Global Css======================================================*/


iframe {
    display: flex;
    width: 100%;
    height: 100%;
}

.item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: black;
}

.slink_container {
    display: flex !important;
    justify-content: center;
    color: #0D8415;
    position: relative;
}

.after_slink_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.owl_item {
    height: 900px;
}

.owl-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #c0c0c0;
    color: black;
}

.toggle_container {
    display: flex;
    height: 220px;
}

.toggle_button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: rgb(124, 198, 160);
    background-color: transparent;
    border: 1px solid rgb(127, 208, 145);
}

@media(max-width:768px) {
    .toggle_button {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
}

.hamburger_toggle path {
    fill: wheat;
}

.grey_background {
    background-color: gray !important;
}

.slink_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 1000px;
    background-color: black;
    padding: 5px 15px 5px 15px;
}

.slick-next {
    width: 50px;
    margin-right: 100px;
    height: 50px;
    font-size: 100px;
}

.slick-prev {
    display: flex !important;
    position: absolute;
    z-index: 1;
}

div:has(.index_slink_img_back) {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-next::before {
    font-size: 50px;

}

.slick-prev::before {
    display: flex;
    position: fixed !important;
    font-size: 50px;
    margin-left: 100px;
}

.after_slink_container {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.main_owl_container_video {
    margin-bottom: 100px;
}

.main_owl_container_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


/***************************************Main Container_1 Css Starts**************************************************/
.container_1_card_main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background-color: black;
    background: #52AAFF;
    background: linear-gradient(to right, #52AAFF 0%, #E64EAF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 50px 0px;
}

.container_1_content_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    width: 100%;

}

.container_1_header_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 38px;
    width: 100%;
    animation: container_1_header_key 5s;
}

@keyframes container_1_header_key {
    0% {
        font-size: 35px;
    }

    100% {
        font-size: 38px;
    }
}

.container_1_video_slider {
    margin-top: 100px;
}

@media (max-width:768px) {
    .container_1_header {
        font-size: 9px;
    }

    @keyframes container_1_header_key {
        0% {
            font-size: 7px;
        }

        100% {
            font-size: 9px;
        }
    }

    .main_owl_cont_text {
        font-size: 10px;
    }

    .main_owl_cont_video {
        max-width: 250px;
        margin-top: 50px;
    }

    .main_owl_container_video .item {
        display: flex;
        height: 100vh;
    }

    .main_owl_container_video {
        margin-bottom: 0px !important;
    }

    .main_owl_container_video {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
}

/*Owl Video*/
.main_owl_cont_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: rgb(44, 42, 42);
}

.main_owl_cont_video {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.main_owl_cont_video video {
    width: 100%;
    border: 5px solid black;
    box-shadow: 0px 0px 20px 0px black;
    border-radius: 25px;
}

.main_owl_container_video {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 150px;
}

/*****************************************************************Container_2 cSS sTART**********************************************************/
.container_2_card_main {
    display: flex;
    height: 100%;
}

.video_content {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
}

.slick-slide .slick-cloned {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.yt_logo {
    color: rgb(229, 9, 20);
    fill: red;
    display: block;
}

.line_sportify {
    display: none;
    position: absolute;
    top: 700px;
    margin-bottom: 500px;
    background: #0D8415;
    background: linear-gradient(to left, #0D8415 0%, #39B50B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 0px 5px 0px #0D8415;
}

.sportify_img_animation {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px #0D8415;
}

.find_sportify {
    display: block;
}

.container_container_2_extra_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container_2_extra_toggle {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    flex-direction: row;
}

.card {
    margin: 1rem auto;
    cursor: pointer;
}

.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.front_card,
.hidden_card {
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_card_toggle_2 {

    transform: rotateY(180deg);
}

.impoted_toggle {
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_card_toggle {
    transform: rotateY(180deg);
}

.hidden_card {
    color: white;
    transform: rotateY(180deg);
}

/*****************************************************************Container_2 Toggle ************************************************************/
.sportify_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.yt_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.google_play_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.container_2_extra_toggle {
    font-family: Bahnschrift Light;
}

@media (max-width:768px) {
    .container_2_extra_toggle {
        font-size: 7px;
    }

    .contaier_3_toogle_text {
        font-size: 15px;
    }

    .contaier_5_toogle_text {
        font-size: 15px;
    }

    .contaier_6_toogle_text {
        font-size: 15px;
    }

    .sportify_img {
        width: 350px;
    }

    .yt_img {
        width: 300px;
    }
}

/*****************************************************************Container-3********************************************************************/
.container_3_card_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}

.cont_3_card_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: whitesmoke;
    color: black;
}

.container_container_3_card_extra_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: black;
}

.container_3_card_extra_toggle {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    flex-direction: row;
}

/*****************************************************************Container_3 Toggle ************************************************************/
.gemini_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.chat_gpt_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.meta_info {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.copilot_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.container_3_card_extra_toggle {
    font-family: Bahnschrift Light;
}

@media(max-width:768px) {
    .gemini_img {
        width: 350px;
    }

    .gpt_img {
        margin-top: 60px;
        width: 350px;
    }

    .meta_img {
        margin-top: 60px;
        width: 350px;
    }

    .copilot_img {
        margin-top: 100px;
        width: 200px;
    }
}

/*****************************************************************Container -4 *****************************************************************/
.container_4_card_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 100%;
}

.eerie_back_background {
    background-color: #35393C;
}

/*****************************************************************Container_4 Toggle ************************************************************/
.amazon_prime_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.netflix_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zee5_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/****************************************************************container_5********************************************************************/
.container_5_card_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ced6db;
}

.cont_5_card_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #DEE2E6;
    color: black;
}

.container_container_5_card_extra_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #DEE2E6;
    color: black;
}

.container_5_card_extra_toggle {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    flex-direction: row;
}

@media (max-width:768px) {
    .prime_img {
        width: 300px
    }

    .netflix_img {
        width: 300px
    }
}

/*****************************************************************Container_5 Toggle ************************************************************/
.discovery_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.google_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.wiki_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.container_5_card_extra_toggle {
    font-family: Bahnschrift Light;
}

/**************************************************************container-6**********************************************************************/
.container_6_card_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont_6_card_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #CED4DA;
    color: black;
}

.container_container_6_card_extra_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #CED4DA;
    color: black;
}

.container_6_card_extra_toggle {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    flex-direction: row;
}

@media (max-width:768px) {
    .google_img {
        width: 300px !important;
    }
}

/*****************************************************************Container_6 Toggle ************************************************************/
.dolby_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.lg_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.hue_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.container_6_extra_toggle {
    font-family: Bahnschrift Light;
}

@media (max-width:768px) {
    .dolby_img {
        width: 300px !important;
    }
}

/*SIgn In Css*/

/***************************************Main Container_1 Css Starts**************************************************/

.container_1_main_sign {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 2%, rgba(0, 0, 0, 1) 48%, rgba(120, 120, 120, 1) 100%);
    border-radius: 25px;
    height: 1000px;
}

.container_1_main_sign form {
    margin: 0px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(19, 19, 19);
    border-radius: 25px;
    max-width: 1000px
}

.sign_in_form_main_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(19, 19, 19);
    color: rgb(203, 203, 203);
    width: 500px;
    height: 750px;
    border-radius: 30px;
}

.form_header {
    font-family: Bahnschrift Light;
    font-size: 15px;
    margin-top: 100px;
}

.container_1_sign_inner_img_text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_input_name_1,
.main_input_name_2 {
    padding: 10px;
    margin-top: 100px;
    width: 170px;
    height: 37px;
    border-radius: 5px;
    font-family: Bahnschrift Light;
}

.form_header_small h1 {
    font-family: Bahnschrift Light;
    font-size: 15px;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.909);
}

.main_input_email_1 {
    margin-top: 20px;
    padding: 10px;
    width: 340px;
    height: 37px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    font-family: Bahnschrift Light;
}

.sign_in_skip {
    display: flex;
    color: gainsboro;
    font-family: Bahnschrift Light;
    width: 90px;
    align-items: center;
    background-color: #606060;
    justify-content: center;
    border-radius: 25px;
    height: 40px;
    top: 45px;
    right: 40px;
    position: absolute;
}

.sign_in_skip:hover {
    background-color: #747474;
}

.container_1_sign_inner_img {
    display: flex;
    position: relative;
}

.main_sign_in_button {
    margin-top: 80px;
}

.header_form {
    display: flex;
    flex-direction: column;
}

.form_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_header_small {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.main_sign_in_button button {
    width: 250px;
    height: 45px;
    font-size: 20px;
    font-family: Tempus Sans ITC;
    background-color: #606060;
    color: whitesmoke;
    margin-bottom: 20px;
}

.main_input_email_header {
    font-size: 20px;
    font-family: Tempus Sans ITC;
}

.main_input_name_header {
    font-size: 20px;
    font-family: Tempus Sans ITC;
}

.main_input_password_header {
    font-size: 20px;
    font-family: Tempus Sans ITC;
}

.container_1_inner_img img {
    border-radius: 15px;
}

.icon_google {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.google_sign_in {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.google_sign_logo {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    width: 40px;
}

/*Sign in Responsive Setup*/
@media(max-width:768px) {
    .container_1_inner {
        display: none;
    }

    .sign_in_skip {
        right: 5px;
    }

    .sign_in_form_main_container {
        width: 400px;
    }


    .main_input_name_2 {
        width: 120px;
    }
}